@model IEnumerable<WatersAD.Data.Entities.Notification>
@{
    ViewData["Title"] = "Index";
}



<h2>Notificações</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mensagem</th>
            <th>Data</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.CreatedAt.ToString("g")</td>
                <td>
                    <form asp-action="MarkAsRead" method="post">
                        <input type="hidden" name="id" value="@notification.Id" />
                        <button type="submit" class="btn btn-primary">Marcar como Lida</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

