
@{
    ViewData["Title"] = "About";
}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
     <flash dismissable="true" />
    <div class="section-overlay"></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

    <div class="container">
        <div >
            <h2 class="text-white">Sobre </h2>
        </div>
        <div class="row">
         
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="/image/layout/portrait-young-handsome-businessman-wearing-suit-standing-with-crossed-arms-with-isolated-studio-white-background.jpg" class="member-block-image img-fluid" alt="">

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href ="https://x.com/?lang=pt" target="_blank" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://web.whatsapp.com/" target="_blank" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="member-block-info d-flex align-items-center">
                        <h4 class="text-white">Micael</h4>

                        <p class="ms-auto">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="member-block">
                    <div class="member-block-image-wrap">
                        <img src="/image/layout/successful-asian-lady-boss-red-blazer-holding-clipboard-with-documens-pen-working-looking-happy-white-background.jpg" class="member-block-image img-fluid" alt="">

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="https://pt.linkedin.com/" target="_blank" class="social-icon-link bi-linkedin"></a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://x.com/?lang=pt" target="_blank" class="social-icon-link bi-twitter"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="member-block-info d-flex align-items-center">
                        <h4 class="text-white">Sandy</h4>

                        <p class="ms-auto">Diretora</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>
<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Quem somos</h2>
            </div>

            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">             
                <p>
                    <strong>Águas Duarte</strong>
                     é uma empresa de distribuição de água, sediada em Braga, que se orgulha de oferecer soluções inovadoras e sustentáveis para a gestão de recursos hídricos. Desde a nossa fundação, temos como principal missão garantir o fornecimento de água de qualidade superior, atendendo às necessidades de empresas, condomínios e particulares de forma rápida, eficiente e ecológica.
                </p>
                <p>
                    Com uma equipa altamente especializada e infraestruturas modernas, a Águas Duarte diferencia-se pela capacidade de atender a uma vasta gama de clientes, sempre com foco na personalização do serviço. Acreditamos que cada cliente é único, por isso desenvolvemos soluções à medida, desde sistemas de abastecimento para grandes empresas até serviços especializados para pequenas habitações, oferecendo um acompanhamento contínuo.
                </p>
                <p>O nosso compromisso com a qualidade é reforçado por um rigoroso processo de tratamento e análise da água, que assegura que todos os padrões de segurança e saúde sejam cumpridos. Trabalhamos em parceria com laboratórios acreditados e utilizamos tecnologias de ponta para garantir que a água fornecida seja sempre cristalina, pura e segura para consumo.</p>
            </div>

          

            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
                <p>
                    
                    Além da excelência no serviço, na Águas Duarte também nos preocupamos com o impacto ambiental das nossas operações. Implementamos práticas sustentáveis em todas as etapas do processo de distribuição, desde a captação até à entrega final. Promovemos o uso consciente da água, incentivando os nossos clientes a adotar práticas de consumo mais responsáveis.
                </p>
                <p>
                    O nosso objetivo não é apenas ser o fornecedor de confiança, mas também contribuir para um futuro onde o acesso à água de qualidade seja garantido para todos, sem comprometer as gerações futuras. Apostamos continuamente na inovação, investindo em tecnologias que nos permitam otimizar o uso dos recursos naturais, reduzir desperdícios e minimizar o impacto ambiental.
                </p>
                <p>Na Águas Duarte, estamos comprometidos com a excelência, sustentabilidade e inovação. Cada gota conta e, por isso, garantimos que cada cliente recebe o melhor serviço possível, sempre com a confiança e a proximidade que nos caracterizam. Se procura uma empresa que coloca a qualidade da água e a satisfação do cliente em primeiro lugar, está no lugar certo.</p>
            </div>


       

        </div>
    </div>
</section>


