
@{
    ViewData["Title"] = "Contact";
}

<section class="hero-section hero-sectionRecover d-flex justify-content-center align-items-center" id="section_1">
     <flash dismissable="true" />
    <div class="section-overlay"></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>


    <div class="container">
        <div>
            <h2 class="text-white">Onde estamos</h2>
        </div>
        <div class="col-lg-6 col-12">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40176.488548741276!2d-8.44272588859877!3d41.54466597010458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24febc6cf5d867%3A0xbc5d054162d1e218!2sBraga!5e0!3m2!1spt-PT!2spt!4v1727352212242!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                
            </div>
        </div>
        
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>

<section class="contact-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class=" col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">

                 @Html.Partial("_ContactForm")

            </div>

            
            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
                
                <div class="table-responsive">
                    <table class="table text-center ">
                        <thead>
                            <tr>
                                <th style="width: 22%;"></th>

                                <th style="width: 34%;">Contactos</th>

                                <th style="width: 22%;"></th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">Telefone</th>

                                <td>

                                    912 345 678
                                </td>

                                <td>
                                    
                                </td>

                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Email</th>

                                <td>
                                    A.Duarte@company.com
                                </td>

                                <td>
                                   
                                </td>

                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Linha de apoio</th>

                                <td>
                                    808 808 808
                                </td>

                                <td>
                                    
                                </td>


                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Morada</th>

                                <td>
                                    Rua das Flores, nº 125 Braga
                                </td>

                                <td>
                                </td>


                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</section>