@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

    <div class="section-overlay"></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>


    <div class="container">
        <div>
            <h2 class="text-white">Politica de privacidade</h2>
        </div>
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <h2 class="text-white">Bem-vindo</h2>

                <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                    <span>A. Duarte é</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Vida</b>
                        <b>Essencial</b>
                        <b>Revolucionária</b>
                    </span>
                </h1>

            </div>

        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>
<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Política de Privacidade – Águas Duarte</h2>
            </div>

            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
                <p>A Águas Duarte, Lda a empresa valoriza a privacidade dos seus clientes e está comprometida em proteger os seus dados pessoais. Esta Política de Privacidade descreve como recolhemos, utilizamos, armazenamos e partilhamos as suas informações pessoais, em conformidade com o Regulamento Geral sobre a Proteção de Dados (RGPD) e a legislação aplicável em Portugal.</p>

               
                    <h5>1. Responsável pelo Tratamento dos Dados</h5>
                <p>
                    A Águas Duarte, Lda, com sede em [morada da empresa], é a responsável pelo tratamento dos seus dados pessoais, sendo a entidade que decide como e por que motivo os seus dados são tratados.
                </p>
                <h5>2. Dados Pessoais Recolhidos</h5>
                <p>
                    A Águas Duarte pode recolher e tratar os seguintes dados pessoais:<br /><strong>Dados de Identificação:</strong>Nome, morada, número de identificação fiscal (NIF), número de cliente.
                    <br /><strong>Contactos:</strong>Endereço de e-mail, número de telefone.
                    <br /><strong>Dados de Faturação: </strong>Informações relacionadas com o pagamento dos serviços prestados.
                    <br /><strong>Dados de Consumo:</strong>Registos do consumo de água e dados de contadores.
                </p>
                <h5>3. Finalidade do Tratamento de Dados</h5>
                <p>
                    Os dados pessoais recolhidos são utilizados para:<br /><strong>Prestação de Serviços: </strong>Gerir o fornecimento de água, incluindo instalação, manutenção, e faturação.
                    <br /><strong>Comunicações: </strong>Contactá-lo para informações relevantes sobre os serviços, como avisos de interrupções ou alterações.
                    <br /><strong>Cumprimento Legal: </strong>Cumprir obrigações legais, como reportar às autoridades competentes ou manter registos fiscais.
                </p>
                <h5>4. Fundamento Legal para o Tratamento</h5>
                <p>
                    A Águas Duarte trata os seus dados pessoais com base nos seguintes fundamentos:<br /><strong>Execução de contrato: </strong>Quando o tratamento dos dados é necessário para a prestação do serviço de fornecimento de água.
                    <br /><strong>Obrigação legal: </strong>Para cumprir obrigações legais e regulamentares.
                    <br /><strong>Consentimento: </strong>Em situações onde for exigido consentimento, este será solicitado de forma clara e explícita.
                </p>
                <h5>5. Partilha de Dados</h5>
                <p>
                    Os seus dados pessoais podem ser partilhados com:<br /><strong>Entidades de Cobrança: </strong>Para processamento de pagamentos e cobranças.
                    <br /><strong>Autoridades Públicas:  </strong>Quando tal for necessário para o cumprimento de obrigações legais.
                    <br /><strong>Fornecedores e Parceiros:  </strong>Terceiros que prestam serviços de apoio, como manutenção e suporte técnico, sempre sob garantias de segurança e confidencialidade.
                </p>
                <h5>6. Segurança dos Dados</h5>
                <p>
                    Implementamos medidas de segurança técnicas e organizacionais adequadas para proteger os seus dados contra acessos não autorizados, divulgação, perda, destruição ou qualquer outro tipo de tratamento ilícito.
                </p>
                
               
            </div>



            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
               
                <h5>7. Conservação de Dados</h5>
                <p>
                    Os seus dados serão conservados pelo período necessário para a prestação dos serviços, cumprimento de obrigações legais ou até ao término do prazo de prescrição de eventuais responsabilidades. Após o fim destes períodos, os dados serão eliminados ou anonimizados.
                </p>
                <h5>8. Direitos dos Titulares dos Dados</h5>
                <p>
                    Enquanto titular dos dados, tem os seguintes direitos:<br /><strong>Direito de Acesso: </strong>Obter confirmação sobre se os seus dados estão a ser tratados e aceder a eles.
                    <br /><strong>Direito de Retificação:  </strong>Solicitar a correção de dados pessoais incorretos ou incompletos.
                    <br /><strong>Direito de Apagamento:  </strong>Pedir a eliminação dos seus dados quando já não forem necessários para as finalidades indicadas.
                    <br /><strong>Direito à Portabilidade:   </strong>Receber os dados pessoais que nos forneceu num formato estruturado e legível.
                    <br /><strong>Direito à Limitação e Oposição:  </strong>Solicitar a limitação ou opor-se ao tratamento dos seus dados em determinadas circunstâncias.
                    <br /><strong>Direito a Retirar o Consentimento:  </strong>Se o tratamento dos seus dados for baseado em consentimento, poderá retirar o mesmo a qualquer momento.<br />
                    Para exercer qualquer um destes direitos, pode contactar-nos através do e-mail A.Duarte@company.com ou do endereço postal Rua das Flores, nº 125 Braga.

                </p>
                <h5>9. Alterações à Política de Privacidade</h5>
                <p>
                    A Águas Duarte pode atualizar esta Política de Privacidade periodicamente para refletir mudanças nos nossos serviços ou obrigações legais. Recomendamos que consulte regularmente esta página para se manter informado sobre as nossas práticas de privacidade.
                </p>
                <h5>10. Contactos</h5>
                <p>
                    Se tiver alguma questão ou reclamação relativa ao tratamento dos seus dados pessoais, poderá contactar o nosso Encarregado de Proteção de Dados através do e-mail A.Duarte@company.com ou da morada Rua das Flores, nº 125 Braga.
                </p>
                <h5>11. Autoridade de Controlo</h5>
                <p>
                    Se considerar que os seus direitos foram violados, tem o direito de apresentar uma reclamação junto da Comissão Nacional de Proteção de Dados (CNPD), a autoridade de controlo em Portugal.
                </p>
                <br />
                <p>Com esta Política de Privacidade, a Águas Duarte reforça o seu compromisso em garantir a segurança e confidencialidade dos dados pessoais dos seus clientes.</p>
            </div>




        </div>
    </div>
</section>

