@model WatersAD.Models.ConsumptionViewModel

@{
    ViewData["Title"] = "Create";
}
<section class="about-section section-padding sectionDashboard">
    <div class="container">
        <div class="row">
            <section>
                <div class="container">
                    <div class="row">
                        <flash dismissable="true" />
                        <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                            <h2 class="">Adicionar consumo</h2>
                            <p class="text-center">Cliente: @Model.Client.FullName</p>


                        </div>
                        <div class="col-lg-8 col-12 mx-auto">

                            <form class="custom-form membership-form shadow-lg" role="form" asp-action="Create" method="post">
                                <input type="hidden" asp-for="WaterMeterId" />
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="text-white mb-4">Novo consumo</h4>
                                    <a asp-action="GetWaterMetersClient" asp-controller="WaterMeters" asp-route-id="@Model.ClientId" class="btn custom-btn smoothscroll mb-4">Voltar</a>
                                </div>
                                <div class="row g-3">
                                    

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                           
                                            <input asp-for="ConsumptionDate" class="form-control" placeholder="Data do consumo" required> 
                                             <label asp-for="ConsumptionDate">Data do consumo</label>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">

                                            <input asp-for="RegistrationDate" class="form-control" placeholder="Data de registo" required>
                                            <label asp-for="RegistrationDate">Data de registo</label>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="number" asp-for="ConsumptionValue" class="form-control" placeholder="Valor do consumo" required>
                                            <label asp-for="ConsumptionValue">Valor do consumo</label>

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="form-control mt-4">Submeter</button>


                            </form>
                        </div>

                    </div>
                </div>
            </section>


        </div>
    </div>
</section>


