@model WatersAD.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}
<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="container">
        <div class="row">
              
            <section>
                <div class="container">
                    <div class="row">
                      
                        <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                            <h2 class="">Adicionar Utilizador</h2>
                            <p class="text-center">Novo utilizador</p>


                        </div>
                        <div class="col-lg-8 col-12 mx-auto">

                            <form class="custom-form membership-form shadow-lg" role="form" asp-action="Register" method="post" enctype="multipart/form-data">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="text-white mb-4">Dados do utilizador</h4>
                                    <a asp-action="Index" asp-controller="Dashboard" class="btn custom-btn smoothscroll mb-4">Voltar</a>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" asp-for="FirstName" id="first-name" class="form-control" placeholder="Nome próprio" required="">
                                            <label asp-for="FirstName">Nome próprio</label>
                                          
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" asp-for="LastName" id="last-name" class="form-control" placeholder="Apelido" required="">
                                            <label asp-for="LastName">Apelido</label>
                                         
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Address" id="phone" class="form-control" placeholder="Morada" required>
                                            <label asp-for="Address">Morada</label>
                                           

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control" required></select>
                                            <label asp-for="SelectedRole">Role</label>


                                        </div>
                                    </div>
                               
                                    <div class="col-md-12 ">
                                     
                                        <div class="form-floating">
                                            
                                            <input  type="file" asp-for="ImageFile" class="form-control" >
                                            <label asp-for="ImageFile">Imagem</label>
                                  

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="email" asp-for="Username" class="form-control" placeholder="Email" required>
                                            <label asp-for="Username">Email</label>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" asp-for="Password" class="form-control" placeholder="Palavra-passe" required>
                                            <label asp-for="Password">Palavra-passe</label>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="password" asp-for="Confirm" class="form-control" placeholder="Confirmar palavra-passe" required>
                                            <label asp-for="Confirm">Confirmar palavra-passe</label>

                                        </div>
                                    </div>
                                </div>
                                <button type="submit" value="Register New User" class="form-control mt-4">Submeter</button>


                            </form>
                        </div>

                    </div>
                </div>
            </section>


        </div>
    </div>
</section>

