@model WatersAD.Models.ClientViewModel

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="FirstName" id="first-name" class="form-control" placeholder="Nome próprio" required="">
                        <label asp-for="FirstName">Nome próprio</label>
                         
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="LastName" id="last-name" class="form-control" placeholder="Apelido" required="">
                        <label asp-for="LastName">Apelido</label>
                          
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="PhoneNumber" id="phone" class="form-control" placeholder="Nº Telefone" required>
                        <label asp-for="PhoneNumber">Nº Telefone</label>
                     
        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="NIF" id="NIF" class="form-control" placeholder="NIF" required="">
                        <label asp-for="NIF">NIF</label>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="Address" class="form-control" placeholder="Rua" required>
                        <label asp-for="Address">Rua</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                            <input type="text" asp-for="HouseNumber" class="form-control" placeholder="Nº" required>
                        <label asp-for="HouseNumber">Nº</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="PostalCode" class="form-control" placeholder="Codigo-Postal" required>
                        <label asp-for="PostalCode">Codigo-Postal</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                            <input type="text" asp-for="RemainPostalCode" class="form-control" placeholder="" required>
        <label asp-for="RemainPostalCode">Extensão Código Postal</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                            <select asp-for="CountryId" asp-items="Model.Countries" class="form-control" id="CountryId" required></select>
                        <label asp-for="CountryId">País</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                            <select asp-for="CityId" asp-items="Model.Cities" class="form-control" id="CityId" required></select>
                        <label asp-for="CityId">Cidade</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="LocalityId" asp-items="Model.Localities" class="form-control" id="LocalityId" required></select>
                        <label asp-for="LocalityId">Localidade</label>

                    </div>
                </div>
                              
                             

                               


                      

    
