html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}
/* Forbidden Page */
.bodyFp {
    background-color: #1C2127;
    margin-top: 38px;
    
}

.containerFp {
    display: flex;
    justify-content: flex-end; 
    padding-right: 30px;
}

.containerFp2 {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-left:150px;
  
    
  
}

.messageFp {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.message2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    width: 360px;
  
    justify-content: flex-start;
}

.neon {
    text-align: center;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 90px;
    color: #5BE0B3;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #6EECC1;
    animation: flux 2s linear infinite;
}

.trash {
    width: 170px;
    height: 220px;
    background-color: #585F67;
    top: 300px;
}

.can {
    width: 190px;
    height: 30px;
    background-color: #6B737C;
    border-radius: 15px 15px 0 0;
}

.door-frame {
    height: 495px;
    width: 295px;
    border-radius: 90px 90px 0 0;
    background-color: #8594A5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door {
    height: 450px;
    width: 250px;
    border-radius: 70px 70px 0 0;
    background-color: #A0AEC0;
}

.eye {
    top: 15px;
    left: 25px;
    height: 5px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    animation: eye 7s ease-in-out infinite;
    position: absolute;
}

.eye2 {
    left: 65px;
}

.window {
    height: 40px;
    width: 130px;
    background-color: #1C2127;
    border-radius: 3px;
    margin: 80px auto;
    position: relative;
}

.leaf {
    height: 40px;
    width: 130px;
    background-color: #8594A5;
    border-radius: 3px;
    margin: 80px auto;
    animation: leaf 7s infinite;
    transform-origin: right;
}

.handle {
    height: 8px;
    width: 50px;
    border-radius: 4px;
    background-color: #EBF3FC;
    position: absolute;
    margin-top: 250px;
    margin-left: 30px;
}

.rectangle {
    height: 70px;
    width: 25px;
    background-color: #CBD8E6;
    border-radius: 4px;
    position: absolute;
    margin-top: 220px;
    margin-left: 20px;
}

@keyframes leaf {
    0% {
        transform: scaleX(1);
    }

    5% {
        transform: scaleX(0.2);
    }

    70% {
        transform: scaleX(0.2);
    }

    75% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes eye {
    0% {
        opacity: 0;
        transform: translateX(0)
    }

    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
        transform: translateX(0)
    }

    20% {
        transform: translateX(15px)
    }

    35% {
        transform: translateX(15px)
    }

    40% {
        transform: translateX(-15px)
    }

    60% {
        transform: translateX(-15px)
    }

    65% {
        transform: translateX(0)
    }
}

@keyframes flux {
    0%, 100% {
        text-shadow: 0 0 5px #00FFC6, 0 0 15px #00FFC6, 0 0 50px #00FFC6, 0 0 50px #00FFC6, 0 0 2px #B9FFE8, 2px 2px 3px #12E29C;
        color: #4BFFEF;
    }

    50% {
        text-shadow: 0 0 3px #00B58D, 0 0 7px #00B58D, 0 0 25px #00B58D, 0 0 25px #00B58D, 0 0 2px #00B58D, 2px 2px 3px #006A60;
        color: #63D3AE;
    }
}

  

/*error css*/
/* Error Page */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.error .clip .shadow {
    height: 180px; /*Contrall*/
}

.error .clip:nth-of-type(2) .shadow {
    width: 130px; /*Contrall play with javascript*/
}

.error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow {
    width: 250px; /*Contrall*/
}

.error .digit {
    width: 150px; /*Contrall*/
    height: 150px; /*Contrall*/
    line-height: 150px; /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}

.error h2 /*Contrall*/ {
    font-size: 32px;
}

.error .msg /*Contrall*/ {
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}

.error span.triangle /*Contrall*/ {
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}


.error .container-error-404 {
    margin-top: 10%;
    position: relative;
    height: 250px;
    padding-top: 40px;
}

    .error .container-error-404 .clip {
        display: inline-block;
        transform: skew(-45deg);
    }

.error .clip .shadow {
    overflow: hidden;
}

.error .clip:nth-of-type(2) .shadow {
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
}

.error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
    border-radius: 50%;
}

.error .clip:nth-of-type(3) .shadow:after {
    left: -8px;
}

.error .digit {
    position: relative;
    top: 8%;
    color: white;
    background: #07B3F9;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}

.error .clip:nth-of-type(2) .digit {
    left: -10%;
}

.error .clip:nth-of-type(1) .digit {
    right: -20%;
}

.error .clip:nth-of-type(3) .digit {
    left: -20%;
}

.error h2 {
    color: #A2A2A2;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: "Anton", sans-serif;
    text-align:center;
}

.error .msg {
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #A2A2A2;
    border-radius: 50%;
    font-style: italic;
}

.error .triangle {
    position: absolute;
    z-index: 999;
    transform: rotate(45deg);
    content: "";
    width: 0;
    height: 0;
}

/* Error Page */
@media(max-width: 767px) {
    /* Error Page */
    .error .clip .shadow {
        height: 100px; /*Contrall*/
    }

    .error .clip:nth-of-type(2) .shadow {
        width: 80px; /*Contrall play with javascript*/
    }

    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow {
        width: 100px; /*Contrall*/
    }

    .error .digit {
        width: 80px; /*Contrall*/
        height: 80px; /*Contrall*/
        line-height: 80px; /*Contrall*/
        font-size: 52px;
    }

    .error h2 /*Contrall*/ {
        font-size: 24px;
    }

    .error .msg /*Contrall*/ {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .error span.triangle /*Contrall*/ {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .error .container-error-404 {
        height: 150px;
    }
    /* Error Page */
}

/*--------------------------------------------Framework --------------------------------*/

.overlay {
    position: relative;
    z-index: 20;
}
/*done*/
.ground-color {
    background: white;
}
/*done*/
.item-bg-color {
    background: #EAEAEA
}
/*done*/

/* Padding Section*/
.padding-top {
    padding-top: 10px;
}
/*done*/
.padding-bottom {
    padding-bottom: 10px;
}
/*done*/
.padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-horizontal {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-all {
    padding: 10px;
}
/*done*/

.no-padding-left {
    padding-left: 0px;
}
/*done*/
.no-padding-right {
    padding-right: 0px;
}
/*done*/
.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
}
/*done*/
/* Padding Section*/

/* Margin section */
.margin-top {
    margin-top: 10px;
}
/*done*/
.margin-bottom {
    margin-bottom: 10px;
}
/*done*/
.margin-right {
    margin-right: 10px;
}
/*done*/
.margin-left {
    margin-left: 10px;
}
/*done*/
.margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}
/*done*/
.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*done*/
.margin-all {
    margin: 10px;
}
/*done*/
.no-margin {
    margin: 0px;
}
/*done*/

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.inside-col-shrink {
    margin: 0px 20px;
}
/*done - For the inside sections that has also Title section*/
/* Margin section */

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed #999;
}
/*--------------------------------------------FrameWork------------------------*/
    /*error2*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.containerError {
    display: block;
    text-align: center;
    margin-top: 5%;
}

.four1 {
    animation: swing ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

.zero {
    animation: swing2 ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

.four2 {
    animation: swing3 ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(3deg);
    }
}

@keyframes swing3 {
    0% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.h1Errors {
    font-family: 'Fjalla One';
    text-align: center;
    color: #666;
}